.bgdrac {
  background: #282a36;
}

.navbar-toggler {
  margin-right: 1rem;
}

.navbar-nav {
  margin-left:auto;
  padding-right: 2rem;
  padding-left: 2rem;

}

.navbar-nav > li{
  padding-right:30px;

}

.navlink:active {
  margin-left: 1rem;
}

#brand {
  margin-left:1rem;
}

