.bgdrac {
  background: #282a36;
}

#mainNavbar .nav-link:hover {
  color: #bd93f9;
}

#mainNavbar .navbar-brand:hover {
  color: #ff79c6;
}



.navbar-toggler {
  margin-right: 1rem;
}

.navbar-nav {
  margin-left:auto;
  padding-right: 2rem;
  padding-left: 2rem;

}

.navbar-nav > li{
  padding-right:30px;

}

.navlink:active {
  margin-left: 1rem;
}

#brand {
  margin-left:1rem;
  color: #8be9fd;
}

/* #mainNavbar #navLinks #nav-item-about {
  color: #f1fa8c
}

#nav-item-projects {
  color: #ffb86c
}

#nav-item-contact {
  color: #ff79c6
} */